 /* body{
    background: linear-gradient(to right, red,yellow);
}  */

table{
    text-align: center;

}

/* body{
  background-image: url("https://th.bing.com/th/id/OIP.NfFhTSxEndiClX3FbMakxQHaE8?w=246&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-repeat: no-repeat;
  background-size: cover;

} */



h1{
    text-align: center;
    background-color: rgb(180, 5, 5);
}

table{
    border-collapse: collapse;
}

#select:active{
   color: crimson;
}

#select:hover{
    color: darkred;
    font-size: 20px;

}

a::after{
   color: aqua;
}

p::first-letter{
    font-size: 30px;
}

p::selection{
   background: yellow;
}

#div1{
    background: orangered;
    /* margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px; */
    /* padding: 20px; */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}